<header class="web-header">
    
        <center><img class="cover" src="https://upload.wikimedia.org/wikipedia/en/8/88/Bilbao_BBK_Live-logo.jpg" alt="" ></center>
        
        <center><div class="cabecera">
            
                <table>
            
                <tr>
            
                <td><a href="index.html">INICIO</a> </td>
                <td><h1 class="web-title"></h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1></td>
                <td><a href="entradas.html">ENTRADAS</a> </td>
                <td><h1 class="web-title"></h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1></td>
                <td><a href="detail.html">CARTEL</a> </td>
                <td><h1 class="web-title"></h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1></td>
                <td><a href="artistas.html">ARTISTAS</a> </td>
                
                </tr>
            
                </table>  
            </div>
            </center>
            

            
    </header>
    
    