body {
   background: $color-less-is-less;
   font-family: $main-font-family;
   font-size: $font-size-base;
   color: $main-text-color;

   padding-top: 60px;
}

form{
    padding: 10px;
}

label, input, button {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

label{

    font-size:  $font-size-small;
    font-weight: bold;
    text-transform: uppercase;
}

input{
    margin: 5px 0 15px 0px;
    padding: 10px;

}

buttom {
    margin: 5px 0 15px 0px;
    padding: 10px;

}